<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.assess.mapper.DeptMapper">
    <delete id="deleteDept">
        delete from dept where id=#{id}
    </delete>

    <select id="selectDept" resultType="com.exam.assess.pojo.Dept">
        select * from dept
        <where>
            id=#{dept.id}
        </where>
    </select>
</mapper>